body {
	padding: 0;
	border: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
	width: 100%;
	background-image: url('bg-1920.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #ffffff;
	position: relative;
	color: #000000;
	font-family: sans-serif;
}

img {
	border-radius: 50%;
	max-width: 80px;
	height: auto;
	margin-top: 20px;
}



	.field {
		width: 50%;
		min-height: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 20px;
		text-align: center;

		background-color: rgba(255,255,255, 0.2);
			
		backdrop-filter: blur(20px);
	    -webkit-backdrop-filter: blur(20px);
			
	}



@media screen and (max-width: 992px) {
	.field {
		width: 90%;
	}
}

